<div class="container form-group required">
    <div class="card p-4 mt-4">
        <div class="row justify-content-end">
            <div class="col-1">
                <button type="submit" class="btn btn-danger btn-md btn-block" routerLink="/"><i class="fas fa-times-circle"></i> Salir</button>
            </div>
        </div>
        <h1 style="text-align: center;">Prospecto</h1>
        <form [formGroup]="formulario">
            <div class="form-group">
                <div class="row mt-4">
                    <div class="col-4">
                        <label>Nombre(s)</label>
                        <input type="text" formControlName="nombre" class="form-control" id="nombre" readonly>
                    </div>
                    <div class="col-4">
                        <label>Apellido Paterno</label>
                        <input type="text" formControlName="apPaterno" class="form-control" id="apPaterno" readonly>
                    </div>
                    <div class="col-4">
                        <label>Apellido Materno</label>
                        <input type="text" formControlName="apMaterno" class="form-control" id="apMaterno" readonly>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <label>Calle</label>
                        <input type="text" formControlName="calle" class="form-control" id="calle" readonly>
                    </div>
                    <div class="col-4">
                        <label>Número</label>
                        <input type="text" formControlName="numero" class="form-control" id="numero" readonly>
                    </div>
                    <div class="col-4">
                        <label>Colonia</label>
                        <input type="text" formControlName="colonia" class="form-control" id="colonia" readonly>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <label>Código postal</label>
                        <input type="text" formControlName="codigoPostal" class="form-control" id="codigo" readonly>
                    </div>
                    <div class="col-4">
                        <label>Teléfono</label>
                        <input type="text" formControlName="telefono" class="form-control" id="telefono" readonly>
                    </div>
                    <div class="col-4">
                        <label>R.F.C.</label>
                        <input type="text" formControlName="rfc" class="form-control" id="rfc" readonly>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <label>Documentación</label>
                    </div>                  
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <label>Status del prospecto</label>
                        <input type="text" formControlName="status" class="form-control" id="status" readonly>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <label>Observaciones</label>
                        <textarea formControlName="observaciones" class="form-control" id="observaciones" rows="4" readonly></textarea>
                    </div>                  
                </div>
            </div>
        </form>
    </div>
</div>
